.GlassContainer {
    --corner-radius: 24px;
    --base-strength: 14px;
    --extra-blur: 2px;
    --softness: 12px;
    --tint-amount: 0;
    --tint-saturation: 2;
    --tint-hue: 180deg;
    --contrast: 1;
    --brightness: 1;
    --invert: 10%;

    --total-strength: calc(var(--base-strength) + var(--extra-blur));
    --edge-width: calc(0.3px + (var(--softness) * 0.1));
    --emboss-width: calc((var(--softness) * 0.38));
    --refraction-width: calc((var(--softness) * 0.3));

    position: relative;
    overflow: visible;
    pointer-events: none;
}

.GlassContent {
    position: relative;
    display: block;
    z-index: 100;
    overflow: hidden;
    border-radius: var(--corner-radius);
    pointer-events: auto;
}

.GlassMaterial {
    position: absolute;
    inset: 0;
    z-index: 1;
    overflow: visible;
    pointer-events: none;
}

.GlassMaterial:after {
    content: '';
    display: block;
    position: absolute;
    inset: 0;
    z-index: 3;
    overflow: hidden;
    border-radius: var(--corner-radius);
    background-color: rgba(128, 128, 128, 0);
}

.GlassMaterial>div {
    position: absolute;
    inset: 0;
    box-sizing: border-box;
    border-radius: var(--corner-radius);
    z-index: 2;
    overflow: hidden;
}

.GlassMaterial .GlassEdgeReflection {
    z-index: 4;
    margin: calc(var(--total-strength) * -1);
    border-radius: calc(var(--corner-radius) + var(--total-strength));
    backdrop-filter: blur(var(--total-strength)) brightness(1.2) saturate(1.2);
    padding: var(--edge-width);
    border: var(--total-strength) solid transparent;
    mask:
        linear-gradient(white 0 0) padding-box,
        linear-gradient(white 0 0) content-box;
    mask-composite: exclude, exclude;
}

.GlassMaterial .GlassEmbossReflection {
    backdrop-filter: blur(calc(var(--total-strength) * 1.5)) invert(0.25) brightness(1.11) saturate(1.2) hue-rotate(-10deg) contrast(2.3);
    padding: var(--emboss-width);
    border: 0 solid transparent;
    mask:
        linear-gradient(white 0 0) padding-box,
        linear-gradient(white 0 0) content-box;
    mask-composite: exclude, exclude;
}

.GlassMaterial .GlassRefraction {
    backdrop-filter: invert(0.1) brightness(1.2) contrast(1.5);
    padding: var(--refraction-width);
    border: calc(var(--emboss-width)) solid transparent;
    mask:
        linear-gradient(white 0 0) padding-box,
        linear-gradient(white 0 0) content-box;
    mask-composite: exclude, exclude;
}

.GlassMaterial .GlassBlur {
    backdrop-filter: blur(var(--extra-blur)) brightness(1.25);
    border-radius: calc(var(--corner-radius) - (var(--emboss-width) + var(--refraction-width)));
    margin: calc(var(--emboss-width) + var(--refraction-width));
}

.GlassMaterial .BlendLayers {
    z-index: 3;
    backdrop-filter: blur(calc((var(--softness) * 0.2) + (var(--extra-blur) * 0.2)));
}

.GlassMaterial .BlendEdge {
    z-index: 8;
    backdrop-filter: blur(calc(var(--edge-width) * 0.4)) contrast(1.6) saturate(1.5);
}

.GlassContainer:before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 20;
    display: block;
    border-radius: var(--corner-radius);
    backdrop-filter: invert(var(--invert));
}

.GlassMaterial:before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 11;
    display: block;
    border-radius: var(--corner-radius);
    padding: 1px;
    border: 0 solid transparent;
    background: linear-gradient(155deg, hsla(0, 0%, 100%, 0.15) 0%, hsla(0, 0%, 0%, 0.2) 50%, hsla(0, 0%, 100%, 0.15) 100%);
    backdrop-filter: invert(0.15) opacity(1);
    mask:
        linear-gradient(white 0 0) padding-box,
        linear-gradient(white 0 0) content-box;
    mask-composite: exclude, exclude;
}

.GlassMaterial .Highlight {
    z-index: 12;
    display: block;
    border-radius: var(--corner-radius);
    padding: 1px;
    border: 0 solid transparent;
    backdrop-filter: brightness(1.2) contrast(1.6) saturate(1.2) opacity(1);
    mask:
        linear-gradient(white 0 0) padding-box,
        linear-gradient(white 0 0) content-box;
    mask-composite: exclude, exclude;
}


.form_GlassContainer {
    --corner-radius: 100px;
}

.form_GlassContainer .GlassMaterial:before {
    background: linear-gradient(155deg, rgba(255, 255, 255, 0.4) 0%, hsla(0, 0%, 0%, 0.2) 50%, rgba(255, 255, 255, 0.4) 100%)
}

.form_GlassContainer.filled .GlassMaterial:after {
    background-color: rgba(255, 255, 255, 0.30)
}

.form_input_wrapper_GlassContainer {
    --corner-radius: 100px;
}

.form_input_wrapper_GlassContainer .GlassMaterial:after {
    background-color: rgba(255, 255, 255, 0.35)
}


.head_slider_content_GlassContainer {
    margin-top: auto;
    width: 100%;
    --corner-radius: 0;
}

.swiper-button_GlassContainer {
    width: 100%;
    height: 100%;
    --corner-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;

}

.swiper-button_GlassContainer .GlassMaterial:after {
    background-color: rgba(137, 137, 137, 0.08)
}

.slider_arrow .swiper-button-next,
.slider_arrow .swiper-button-prev {
    background: transparent;
    position: relative;
    overflow: hidden;
}

.slider_arrow .swiper-button-next:after,
.slider_arrow .swiper-button-prev:after {
    z-index: 2;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: 0.9;
}

.social_item {
    padding: 0;
    width: 48px;
    height: 48px;
}

.social_item:focus .GlassMaterial:after,
.social_item:active .GlassMaterial:after {
    background-color: rgba(255, 255, 255, 0.17);
}

.social_item_GlassContainer {
    --corner-radius: 12px;
    width: 100%;
    height: 100%;
}

.social_item_GlassContainer .GlassContent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.social_item_GlassContainer .GlassMaterial:before {
    background: linear-gradient(155deg, rgba(255, 255, 255, 0.4) 0%, hsla(0, 0%, 0%, 0.2) 50%, rgba(255, 255, 255, 0.4) 100%)
}

.content_img_GlassContainer {
    margin: auto auto 0;
}